$home_aspect: 0.5; // 2:1

@function home-header-pad-bot($break_point_width){
	@return $break_point_width * $home_aspect
}

.custom-logo {
	@include transition(max-width $trans-time-std);
}

@media screen and (min-width: 56.875em) {

	body.home.page {
		header#masthead {
			background: #111111 url($home-bg-url) center -2em/cover no-repeat;
		    padding-bottom: home-header-pad-bot(nth($break_point_list, 3)); // fixed height, for now
			margin-bottom: 2.625em;
		}
		.post-thumbnail {
			display: none;
		}
		#site-navigation li.menu-item a {
			color: white;
		    &:hover {
		        color: $link-color;
		    }
		}
		img.custom-logo {
			opacity: 0;
		}
		a.custom-logo-link {
			background-image: url($home-logo-url);
			background-size: cover;
		}

	}

}
