/*
 Theme Name:     Twenty Sixteen SMO Child Theme
 Description:    Custom child theme for Seattle Modern Orchestra
 Author:         John Teske
 Template:       twentysixteen
 Version:        1.0.0
*/

/* @import for testing only */
@import 'https://fonts.googleapis.com/css?family=Lato';

$font-stack: 'Lato', sans-serif;
$font-color: #1a1a1a;
$link-color: #db8827;
$hover-color: #686868;
$trans-time-std: 0.3s;

@import 'mixins';

//
// Typography
//
// 3.0
body,
button,
input,
select,
textarea {
	font-family: $font-stack;
}
// 11.4
.required {
	font-family: $font-stack;
}

//
// Remove background border
// regardless of .custom-background-image
//
// 14.1, 14.2
body:before,
body:after,
body:not(.custom-background-image):before,
body:not(.custom-background-image):after {
	top: 0;
	height: 0;
	width: 0;
}

.site {
	margin: 0;
}


//
// reduce site header top/bottom padding
//
// 11.1
.site-header {
	padding-top: 2.625em;
	padding-bottom: 2.625em;
}


//
// Simplify list styles
//
// 4.0
ul,
ol {
	margin: 0 0 1.75em 0;
	padding: 0;
}

ul {
	list-style: none;
}


//
// widget top bar
//
// 10.0
.widget {
	border-top: 2px solid #eeeeee;
}


//
// .widget-title stop yelling
//
// 10.0
.widget .widget-title {
	text-transform: none;
	font-weight: normal;
}

//
// widget footer links
//
.content-bottom-widgets li a {
	color: $hover-color;
    &:hover {
        color: $link-color;
    }
}
body.home.page #content-home-widgets li {
	margin-bottom: 1em;
	a {
		color: $link-color;
	    &:hover {
        color: $hover-color;
	    }
    }
}


//
//
//
// 6.1
.entry-content a,
.entry-summary a,
.taxonomy-description a,
.logged-in-as a,
.comment-content a,
.pingback .comment-body > a,
.textwidget a,
.entry-footer a:hover,
.site-info a:hover {
	box-shadow: none;
}

//
// .smo-button
//
a.smo-button {
	// 6.1
	box-shadow: none;
	//
	border: 1px solid $link-color;
	padding: 0.5em;
	padding-bottom: 0.625em;
	@include transition(background-color $trans-time-std, color $trans-time-std);
    &:hover {
	    background: $link-color;
        color: #ffffff;
    }
}

//
// .entry-title weight
//
// 3.0
.entry-title {
	font-weight: normal;
}

//
// homepage header bg test
//
//@import 'front-page';

//
// homepage three column widgets
//
@import 'front-page-widgets';

//
// .smo-callout
//
div.smo-callout {
	font-size: 19px;
	font-size: 1.1875rem;
}

//
// search button (blog widget)
//
button.search-submit {
	background: #d1d1d1;
}
input[type="search"]:focus {
	border-color: #d1d1d1 !important; // override custom inline css
}
