/*!
 * Theme Name:     Twenty Sixteen SMO Child Theme
 * Description:    Custom child theme for Seattle Modern Orchestra
 * Author:         John Teske
 * Template:       twentysixteen
 * Version:        1.0.0
 */

$break_point_list: 44.375em 48.9375em 56.875em 61.5625em 75em;

$font-stack: 'Lato', Geneva, Tahoma, sans-serif;

$font-color: #1a1a1a;
$link-color: #db8827;
$hover-color: #686868;
$light-color: #eeeeee;

$trans-time-std: 0.3s;
$light-border: 2px solid $light-color;

$home-bg-url: 'http://69.195.124.143/~seattmu9/wp-content/uploads/2016/10/SMO-Amy_Vandergon-home1.jpg';
$home-logo-url: 'http://69.195.124.143/~seattmu9/wp-content/uploads/2016/10/smo-logo-flat-padding-white-480.png'; // orange Modern
// $home-logo-url: 'http://69.195.124.143/~seattmu9/wp-content/uploads/2016/10/smo-logo-flat-padding-all_white.png'; // all white

@import 'mixins';

//
// Typography
//
// 3.0
body,
button,
input,
select,
textarea {
	font-family: $font-stack;
}
// 11.4
.required {
	font-family: $font-stack;
}

//
// Remove background border
// regardless of .custom-background-image
//
// 14.1, 14.2
body:before,
body:after,
body:not(.custom-background-image):before,
body:not(.custom-background-image):after {
	top: 0;
	height: 0;
	width: 0;
}

.site {
	margin: 0;
}


//
// reduce site header top/bottom padding
//
// 11.1
.site-header {
	padding-top: 2.625em;
	padding-bottom: 2.625em;
}


//
// Simplify list styles
//
// 4.0
ul,
ol {
	margin: 0 0 1.75em 0;
	padding: 0;
}

ul {
	list-style: none;
}


//
// widget top bar
//
// 10.0
.widget {
	border-top: $light-border;
}


//
// .widget-title stop yelling
//
// 10.0
.widget .widget-title {
	text-transform: none;
	font-weight: normal;
}

//
// widget footer links
//
.content-bottom-widgets li a {
	color: $hover-color;
    &:hover {
        color: $link-color;
    }
}
body.home.page #content-home-widgets li {
	margin-bottom: 1em;
	a {
		color: $link-color;
	    &:hover {
        color: $hover-color;
	    }
    }
}


//
//
//
// 6.1
.entry-content a,
.entry-summary a,
.taxonomy-description a,
.logged-in-as a,
.comment-content a,
.pingback .comment-body > a,
.textwidget a,
.entry-footer a:hover,
.site-info a:hover {
	box-shadow: none;
	@include transition(color $trans-time-std);
}

@media screen and (min-width: 56.875em) {
	.main-navigation a {
		@include transition(color $trans-time-std);
	}
}

//
// .smo-button
//
a.smo-button {
	// 6.1
	box-shadow: none;
	//
	border: 1px solid $link-color;
	padding: 0.5em;
	padding-bottom: 0.625em;
	@include transition(background-color $trans-time-std, color $trans-time-std);
    &:hover {
	    background: $link-color;
        color: #ffffff;
    }
}

//
// .entry-title weight
//
// 3.0
.entry-title {
	font-weight: normal;
}

//
// homepage header bg test
//
@import 'front-page';

//
// homepage three column widgets
//
@import 'front-page-widgets';

//
// .smo-callout
//
div.smo-callout {
	font-size: 19px;
	font-size: 1.1875rem;
}
body.home.page main {
	margin-bottom: 3.5em;
}

//
// search button (blog widget)
//
button.search-submit {
	background: #d1d1d1;
}
input[type="search"]:focus {
	border-color: #d1d1d1 !important; // override custom inline css
}

//
// mobile menu-toggle
//
.menu-toggle {
	border: $light-border;
	@include transition(border $trans-time-std, color $trans-time-std);
}
.menu-toggle.toggled-on,
.menu-toggle.toggled-on:hover,
.menu-toggle.toggled-on:focus {
    background-color: transparent;
    border-color: $font-color;
    color: $font-color;
}

//
// full-width thumbnails on mobile
//
//@import 'page-support';
